/node_modules
public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
/public/prospects
/public
/vendor
vendor/composer
/vendor/composer/
.env

vendor/composer/autoload_classmap.php

vendor/composer/autoload_namespaces.php
