/node_modules
public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
/public/prospects
/public
/vendor
.env
composer-setup.php

vendor/composer/autoload_classmap.php

vendor/composer/autoload_namespaces.php
