/**
 * 	Name: components.css
 *
 *  Styling for the components that create the page content: accordion, tabs, pie charts etc.
 *
 *  T.O.C
 *
 *	=Accordions and Toggles
 *	=Alerts
 *	=Animations
 *  =Boxes
 *	=Buttons
 *  =Callout
 *  =Client logos
 *	=Contact form
 *	=Countdown
 *	=Dividers
 *  =Dropcaps
 *	=Galleries
 *	=Google Maps
 *	=Headlines
 *	=Icon Boxes
 *  =Image Box
 *	=Info box
 *	=Milestones
 *  =Modal window
 *	=Our Process
 *	=Pie charts
 *	=Pricing Tables
 *	=Progress Bar
 *	=Revolution Slider
 *	=Social Media
 *	=Tabs
 *	=Testimonials
 *	=Team Member
 *	=Portfolio Item
 *	=Portfolio Filter
 *	=Portfolio Pagination
 *	=Portfolio Grid
 *	=Portfolio Strip
 *	=Bx Slider 
 *
 */
 
/* ==========================================================================
   =Accordions and Toggles
   ========================================================================== */

/* =Accordion
   ========================================================================== */
	
	.accordion { margin-bottom: 30px; }

	.accordion-item {
		position: relative;
		display: block;
		padding: 17px 25px;
		border: 1px solid #e1e1e1;
		margin-bottom: 20px;
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif; 
		font-weight: 700;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.accordion-item { color: #3b3e43; }
	
	.accordion-item:after {
		position: absolute;
		top: 17px;
		right: 15px;
		font-size: 18px;
		content: "+";
	}
	
	.accordion-item.active:after { content: "-"; }
	
	.accordion-item:hover,
	.accordion-item.active {
		border-color: #93c274;
		background-color: #93c274;
		color: #fff;
		text-decoration: none;
	}
	
	.accordion-item-content { 
		display: none; 
		padding: 10px 0 20px 0; 
	}
	
	.accordion-item-content h5 {
		margin-bottom: 10px;
		color: #93c274;
		text-transform: uppercase;
	}
	
	.accordion-item-content *:last-child { margin-bottom: 0; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.accordion-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
/* =Toggle
   ========================================================================== */
	
	.toggle { margin-bottom: 30px; }

	.toggle-item {
		position: relative;
		display: block;
		padding: 17px 25px;
		border: 1px solid #e1e1e1;
		margin-bottom: 20px;
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif; 
		font-weight: 700;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.toggle-item { color: #3b3e43; }
	
	.toggle-item:after {
		position: absolute;
		top: 17px;
		right: 15px;
		font-size: 18px;
		content: "+";
	}
	
	.toggle-item.active:after { content: "-"; }
	
	.toggle-item:hover,
	.toggle-item.active {
		border-color: #93c274;
		background-color: #93c274;
		color: #fff;
		text-decoration: none;
	}
	
	.toggle-item-content { 
		display: none; 
		padding: 10px 0 20px 0; 
	}
	
	.toggle-item-content h5 {
		margin-bottom: 10px;
		color: #93c274;
		text-transform: uppercase;
	}
	
	.toggle-item-content *:last-child { margin-bottom: 0; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.toggle-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}

/* ==========================================================================
   =Alerts
   ========================================================================== */

	.alert {
		padding: 13px 15px;
		border: 1px solid #e1e1e1;	
		margin-bottom: 30px;
		background-color: #fff;
		color: #858585;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}
	
	.alert i {
		position: relative;
		top: 1px;
		margin-right: 7px;
		font-size: 16px;
	}
	
	.alert.info {
		border: 1px solid #e1e1e1;
		background-color: #e1e1e1;
		color: #fff;
	}
	
	.alert.success {
		border: 1px solid #93c274;
		background-color: #93c274;
		color: #fff;
	}
	
	.alert.error {
		border: 1px solid #d50f25;
		background-color: #d50f25;
		color: #fff;
	}
	
	.alert.warning {
		border: 1px solid #75ae6a;
		background-color: #75ae6a;
		color: #fff;
	}
	
	h1.error {
		margin: 30px 0 20px 0;
		font-size: 60px;
		line-height: 80px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
	
/* ==========================================================================
   =Animations
   ========================================================================== */
   
   .animate {
		-webkit-animation-duration: 1s;
				animation-duration: 1s;
		-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
		visibility: hidden;
	}

	.animate.visible { visibility: visible; }
	.animate.hidden { visibility: hidden; }

/* ==========================================================================
   =Boxes
   ========================================================================== */

	.box { 
		padding: 40px; 
		margin-bottom: 50px;
		text-align: center;
	}
	
	.box  > *:last-child { margin-bottom: 0; } 

	.box.box-style-1 {
		border-radius: 2px;
		border: 1px solid #93c274;
	}

	.box.box-style-2 { 
		background-color: #93c274;
		color: #fff;
	}
	
	.box.box-style-2 h1,
	.box.box-style-2 h2,
	.box.box-style-2 h3,
	.box.box-style-2 h4,
	.box.box-style-2 h5,
	.box.box-style-2 h6 { color: #fff; }
   
	/*
	 * 1. Clearfix hack 
	 */
	 
	.box:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
/* ==========================================================================
   =Buttons
   ========================================================================== */

/* =Default Button
   ========================================================================== */
   
	.btn {
		position: relative;
		overflow: hidden;
		display: inline-block; 
		padding: 15px 45px 15px 35px; 
		margin: 0 5px 20px 0;
		background-color: #75ae6a;
		color: #fff;
		font-family: 'Quicksand', Arial, sans-serif;
		line-height: 18px;
		font-weight: 700;
		text-decoration: none !important;
		text-transform: uppercase;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 	
	}
	
	.btn:after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0; 
		height: 0; 
		border-top: 48px solid #93c274; 
		border-left: 48px solid transparent; 
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	a.btn { color: #fff; }
	
	.btn:focus { outline: 0; }
	
	.btn-large {
		padding: 20px 50px 20px 40px;
		font-size: 16px;
	}
	
	.btn-large:after {
		border-top: 58px solid #93c274; 
		border-left: 58px solid transparent; 
	}
	
	.btn i,
	.btn-large i { 
		float: left; 
		margin: 2px 8px 0 -4px;
		font-size: 14px; 
		line-height: 14px; 
	}
	
	.btn:hover:after {
		top: -28px;
		right: -28px;
	}

/* =Colored Buttons
   ========================================================================== */
	
	.btn-white {
		padding: 15px 35px;
		border: 2px solid #858585;
		background-color: transparent;
		color: #858585;
	}
	
	a.btn-white { color: #858585; }
	
	.btn-white:after { content: none; }
	
	.btn-white.btn-large { padding: 20px 40px; }
	
	.btn-white:hover { 
		background: #858585;
		color: #fff;
	}

/* ==========================================================================
   =Callouts
   ========================================================================== */

	.callout {
		padding: 30px 0;
		margin-bottom: 30px;
	}	
	
	.callout-action { 
		padding-top: 5px;
		text-align: right;
	}
	
	.callout-action .btn { margin-right: 0; }

	.callout-content > *:last-child,
	.callout-action > *:last-child {
		margin-bottom: 0; 
	}

	/*
	 * 1. Clearfix hack 
	 */
	 
	.callout:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (max-width: 767px) {
		
		.callout-action {
			margin-top: 20px;
			text-align: left;
		}
		
	}
	
/* ==========================================================================
   =Clients logos
   ========================================================================== */
	
	.clients-logos {
		margin: 50px 0;
		list-style: none;
		text-align: center;
	}
	
	.clients-logos li {
		position: relative;
		float: left;
		width: 20%;
		-webkit-transition: background-color 0.3s;
				transition: background-color 0.3s;
	}
	
	.clients-logos li:hover { background-color: #93c274; }
	
	/*
	 * 1. Clearfix hack 
	 */
	.clients-logos:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (max-width: 767px) {
		
		.clients-logos li {
			float: none;
			width: 100%;
			margin-bottom: 10px;
		}
		
		.clients-logos li:last-child { margin-bottom: 0; }
		
	}
   
/* ==========================================================================
   =Contact form
   ========================================================================== */
  
	#contact-form { 
		overflow: hidden; 
		margin: 40px 0; 
	}
	
	#contact-form fieldset {}
	
	label.validation-error { color: #ff0030; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #e1e1e1; }
	
	#contact-form #formstatus {}
		
	#contact-form textarea {}	
	
	/*
	 * 1. Clearfix hack 
	 */
	#contact-form:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}

/* ==========================================================================
   =Countdown
   ========================================================================== */
	
	#countdown {
		margin: 100px 0;
		text-align: center;
	}
	
	.countdown-section {
		float: left;
		width: 25%;
	}
	
	.countdown-amount {
		display: block;
		width: 165px;
		height: 165px;
		border: 5px solid #3b3e43;
		border-radius: 50%;
		margin: 0 auto 40px auto;
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 36px;
		line-height: 165px;
		font-weight: 700;
	}
	
	.countdown-period {
		display: block;
		margin-bottom: 40px;
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	#countdown:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.countdown-amount {
			width: 120px;
			height: 120px;
			line-height: 120px;
		}
		
	}
	
	@media (max-width: 767px) {
		
		.countdown-section {
			float: left;
			width: 50%;
		}
		
		.countdown-amount {
			width: 120px;
			height: 120px;
			line-height: 120px;
		}
		
	}
	
/* ==========================================================================
   =Dividers
   ========================================================================== */

	.divider { margin: 50px 0; }
	
	.divider.single-line { border-top: 2px solid #e1e1e1; }
	
	.divider.double-line { border-top: 6px double #e1e1e1; }

/* ==========================================================================
   =Dropcaps
   ========================================================================== */
   
	.dropcap {
		float: left;
		display: block;
		margin: 5px 10px 0 0;
		font-size: 34px;
		line-height: 38px;
	}
	
	.dropcap.dropcap-square {
		width: 42px;
		height: 42px;
		border-radius: 2px;
		background-color: #93c274;		
		color: #ffffff;
		font-size: 20px;		
		line-height: 42px;
		text-align: center;
		
	}
	
	.dropcap.dropcap-circle {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: #93c274;		
		color: #ffffff;
		font-size: 20px;		
		line-height: 42px;
		text-align: center;
	}
   
/* ==========================================================================
   =Galleries
   ========================================================================== */
	
	
	
/* ==========================================================================
   =Google Maps
   ========================================================================== */

	.google-map {
		width: 100%; 
		height: 400px;
	}
	
	/**
	 * 1. needed so that Google Maps controls are not distorted
	 */
	
	.google-map  img { max-width: none; }	/* 1 */
	
	.map { margin: 40px 0; }
	
	@media (max-width: 767px) {

		.map { padding: 0 20px; }
		.row .map { padding: 0; }
		
	}

/* ==========================================================================
   =Headlines
   ========================================================================== */

	.headline {
		text-align: center;
		text-transform: uppercase;
	}
	
	.headline:after {
		display: block;
		width: 100px;
		border-top: 4px solid #93c274;
		margin: 15px auto 0 auto;
		content: "";
	}
	
	.headline h2 { margin-bottom: 5px; }
	
	.headline p {
		margin-bottom: 0;
		font-weight: 600;
		letter-spacing: 1px;
	}
	
	.headline-2 {
		margin-bottom: 50px;
		text-transform: uppercase;
	}
	
	.headline-2:after {
		display: block;
		width: 100px;
		border-top: 4px solid #93c274;
		margin-top: 15px;
		content: "";
	}
	
	.headline-2 h2 { margin-bottom: 5px; }
	
	.headline-2 p {
		margin-bottom: 0;
		font-weight: 600;
		letter-spacing: 1px;
	}
	
/* ==========================================================================
   =Icon Boxes
   ========================================================================== */

/* =Icon Box 1
   ========================================================================== */
   
	.icon-box-1 { 
		position: relative; 
		margin-bottom: 50px;
		text-align: center; 
	}
	
	.icon-box-1 > span {
		display: block;
		width: 80px;
		height: 80px;
		border: 2px solid #93c274;
		margin: 0 auto 45px auto; 
		content: "";
		-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				transform: rotate(45deg);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
		
	.icon-box-1 > span i {
		display: block;
		color: #93c274; 
		font-size: 32px;
		line-height: 82px;
		-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.icon-box-1 h5 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.icon-box-1 .icon-box-content {}	
	
	.icon-box-1:hover > span i { color: #fff; }
	.icon-box-1:hover > span { background-color: #93c274; }
	
/* =Icon Box 2
   ========================================================================== */
   
	.icon-box-2 { 
		position: relative; 
		margin-bottom: 50px;
		text-align: center; 
	}
		
	.icon-box-2 > i {
		display: block;
		margin-bottom: 30px;
		color: #93c274; 
		font-size: 32px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.icon-box-2 h5 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.icon-box-2 .icon-box-content {}	
	
	.icon-box-2:hover > i {
		-webkit-transform: scale(1.5);
			-ms-transform: scale(1.5);
				transform: scale(1.5);
	}

/* =Icon Box 3
   ========================================================================== */
   
	.icon-box-3 { 
		position: relative; 
		margin-bottom: 50px; 
	}	
	
	.icon-box-3 > i { 
		float: left;
		margin-right: 20px;		 
		color: #93c274; 
		font-size: 32px; 
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}  
	
	.icon-box-3 .icon-box-content {}
	
	.icon-box-3 h5 {
		padding-top: 5px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.icon-box-3:hover > i { color: #75ae6a }

/* =Icon Box 4
   ========================================================================== */
   
	.icon-box-4 { 
		position: relative; 
		margin-bottom: 50px;
		text-align: right; 
	}	
	
	.icon-box-4 > i { 
		float: right;
		margin-left: 20px;		 
		color: #93c274; 
		font-size: 32px;
		-webkit-transition: color 0.3s;
				transition: color 0.3s; 
	}  
	
	.icon-box-4 .icon-box-content {}
	
	.icon-box-4 h5 {
		padding-top: 5px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.icon-box-4:hover > i { color: #75ae6a }

/* ==========================================================================
   =Image Box
   ========================================================================== */
	
	/**
 	 * 1. z-index is 25 because the .fullwidthbanner ul li is 20
 	 */
	 
	.image-box {
		position: relative;
		z-index: 25; /* 1 */
		overflow: hidden;
		margin-bottom: 50px;
		text-align: center;
		box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.4);
	}
	
	.image-box-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.7);
		opacity: 0;
		-webkit-transition: opacity 0.3s;
				transition: opacity 0.3s;
	}
	
	.image-box-img img {
		display: block;
		width: 100%;
	}
	
	.image-box h4 a {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 60%;
		padding: 15px;
		background-color: #93c274;
		color: #fff;
		text-transform: uppercase;
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		-webkit-transition: background-color 0.3s;
				transition: background-color 0.3s; 
	}
	
	.image-box h4 a:hover {
		background-color: #75ae6a;
		text-decoration: none; 
	}
	
	.image-box > *:last-child { margin-bottom: 0; }
	
	.image-box:hover .image-box-overlay { opacity: 1; }
	
/* ==========================================================================
   =Info box
   ========================================================================== */
	
	.info-box {
		position: relative;
		overflow: hidden;
		padding: 100px 0 80px 0;
		margin: 50px 0 100px 0;
		background-color: #f8f8f8;
	}
	
	.info-box-img {
		position: absolute;
		z-index: 0;
		top: 0;
		width: 50%;
		height: 100%;
	}
	
	.info-box-img-left, 
	.info-box-img-right {
		position: absolute;
		z-index: 0;
		top: 0;
		width: 25%;
		height: 100%;
		background: no-repeat center center;
	}
	
	.info-box-img-left { left: 0; } 
	.info-box-img-right { right: 0; }
	
	.info-box-img-left img,
	.info-box-img-right img { display: none; }
	
	@media (min-width: 1200px) {
		
		.info-box-img-left, 
		.info-box-img-right { width: 30%; }
		
	}
	
	@media (max-width: 767px) {
		
		.info-box { 
			padding: 0;
			margin-top: 100px;
		}
		
		.info-box-img-left, 
		.info-box-img-right {
			position: relative;
			width: 100%;
			background: none !important;		 
		}
		
		.info-box-img-left { margin-bottom: 30px; }
		.info-box-img-right { margin-top: 30px; }
		
		.info-box-img-left img,
		.info-box-img-right img {
			display: block;
			width: 100%;
		}
		
	}
   
/* ==========================================================================
   =Milestones
   ========================================================================== */

	.milestone {
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.milestone:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	.milestone i {
		display: inline-block;
		margin-bottom: 50px;
		color: #75ae6a;
		font-size: 32px;
	}
	
	.milestone .milestone-content {
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 36px;
		line-height: 48px;
		font-weight: 700;
		letter-spacing: 1px;
	}
	
	.milestone .milestone-description {
		margin-top: 25px; 
		font-size: 18px; 
		line-height: 21px;
		text-transform: uppercase;
	}

/* ==========================================================================
   =Modal window
   ========================================================================== */	
   
	.white-popup {
		position: relative;
		width: auto;
		max-width: 500px;
		padding: 20px;
		margin: 20px auto;
		background: #fff;
	}
	
/* ==========================================================================
   =Our Process
   ========================================================================== */

/* =Horizontal process
   ========================================================================== */

	.horizontal-process-builder { 
		position: relative;
		margin-bottom: 50px;
		list-style: none;
		text-align: center; 
	}
	
	.horizontal-process-builder:before {
		position: absolute;
		z-index: 1;
		top: 60px;
		left: 130px;
		display: block;
		width: 75%;
		border-top: 1px solid #75ae6a;
		content: "";
	}
	
	.horizontal-process-builder li { 
		float: left;
		width: 25%;  
	}
	
	.horizontal-process-builder li i,
	.horizontal-process-builder li h1 {
		position: relative;
		z-index: 2;
		display: block;
		width: 120px; 
		height: 120px;
		overflow: hidden;  
		border: 1px solid #75ae6a;
		border-radius: 50%;
		margin: 0 auto 40px auto;
		outline: 5px solid #fff;
		background-color: #fff;
		background-clip: padding-box;
		color: #3b3e43;
		font-size: 48px; 
		line-height: 120px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s; 
	}
	
	.horizontal-process-builder li:hover i,
	.horizontal-process-builder li:hover h1 {
		background-color: #75ae6a;
		color: #fff;
	}

	.horizontal-process-builder.three-items li { width: 33.3333333333%; }
	.horizontal-process-builder.four-items li { width: 25%; }
	.horizontal-process-builder.five-items li { width: 20%; }
	
	.process-description { padding: 0 15px; }
	
	.process-description h4 {
		margin-bottom: 15px;
		text-transform: uppercase; 
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.horizontal-process-builder:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (max-width: 767px) {
		
		.horizontal-process-builder li { 
			float: none;
			width: 100%;
			margin-bottom: 40px; 
		}
		
		.horizontal-process-builder:before { content: none; }
		
		.horizontal-process-builder.three-items li { width: 100%; }
		.horizontal-process-builder.four-items li { width: 100%; }
		.horizontal-process-builder.five-items li { width: 100%; }
		
	}
	
/* ==========================================================================
   =Pie charts
   ========================================================================== */

	.pie-chart-wrap {
		position: relative;
		margin-bottom: 50px;
	}
	
	.pie-chart {
		position: relative;	
		margin: 0 auto 30px;
		text-align: center;
	}
	
	.pie-chart canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		position: absolute;
		z-index: 2;
		top: 20px;
		left: 0;
		display: block;
		width: 100%;
		color: #3b3e43;
		text-align: center;
	}
	
	.pie-chart i {
		position: absolute;
		top: -20px;
		left: 50%;
		color: #3b3e43;
		font-size: 32px !important;
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	
	.pie-chart img {
		max-width: 100%;
		vertical-align: middle;
	}
	
	.pie-chart .pie-chart-custom-text {
		font-size: 18px;
	}
	
	.pie-chart .pie-chart-percent {
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 18px;
		font-weight: 700;
	}
	
	.pie-chart-title {
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
	
	.pie-chart-description {
		position: absolute;
		z-index: 1;
		bottom: -150px;
		left: 0;
		right: 0;
		padding: 15px;
		box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
		background-color: #fff;
		color: #3b3e43;
		text-align: center;
		opacity: 0;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.pie-chart-wrap .pie-chart-description *:last-child { margin-bottom: 0; }
	
	.pie-chart-description:before {
		position: absolute;
		z-index: 1;
		top: -15px;
		left: 50%;
		width: 0; 
		height: 0; 
		border-left: 12px solid transparent; 
		border-right: 12px solid transparent; 
		border-bottom: 15px solid #e1e1e1;
		margin-left: -6px;
		content: "";
	}
	
	.pie-chart-description:after {
		position: absolute;
		z-index: 2;
		top: -15px;
		left: 50%;
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent; 
		border-right: 12px solid transparent; 
		border-bottom: 15px solid #fff;
		content: "";
		margin-left: -5px;
	}
	
	.pie-chart-wrap:hover .pie-chart-description {
		bottom: -120px;
		opacity: 1;
	}
	
	@media (max-width: 767px) {
		
		.pie-chart-wrap { margin-bottom: 150px; }
		
	}

/* ==========================================================================
   =Pricing Tables
   ========================================================================== */

	.pricing-table {
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 60px 10px 40px 10px;
		border: 1px solid #f8f8f8;
		margin-bottom: 50px;
		background-color: #f8f8f8;
		text-align: center;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.pricing-table:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 0; 
		height: 0; 
		border-top: 120px solid #75ae6a; 
		border-right: 100px solid transparent;
		content: "";
	}

	.pricing-table-header {	margin-bottom: 20px; }

	.pricing-table-header h1 {
		margin-bottom: 40px;
		font-size: 60px;
		line-height: 48px;	
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}
	
	.pricing-table-header h1 sup {
		margin: 0 -12px;
		font-size: 18px;
		font-weight: 700;
		vertical-align: text-top;
	}
	
	.pricing-table-header h1 small {
		display: block;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.pricing-table-header h3 {
		margin-bottom: 40px;
		text-transform: uppercase; 
		-webkit-transition: color 0.3s;
				transition: color 0.3s;
	}	
		
	.pricing-table-offer { margin-bottom: 50px; }
	
	.pricing-table-offer ul { 
		font-weight: 600;
		letter-spacing: 0.5px;
		list-style: none;
	}
	
	.pricing-table-offer ul li { margin-bottom: 10px; }
	.pricing-table-offer ul li:last-child { margin-bottom: 0; }
	
	.pricing-table:hover { 
		background-color: #93c274; 
		color: #fff;
	}
	
	.pricing-table:hover .pricing-table-header h1,
	.pricing-table:hover .pricing-table-header h3 { color: #fff; }
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.pricing-table:before { 
			border-top: 80px solid #75ae6a; 
			border-right: 70px solid transparent;
		}
		
	}

/* ==========================================================================
   =Progress Bar
   ========================================================================== */

	.progress-bar-description {
		display: inline-block;
		margin-bottom: 15px;
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-weight: 700;
		text-transform: uppercase;		
	}
	
	.progress-percentage {
		position: absolute;
		top: -40px;
		right: 0;
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-weight: 700;
	}
	
	.progress-bar {
		position: relative;
		display: block;
		height: 7px;
		margin-bottom: 20px;
		background-color: #e1e1e1;
	}
	
	.progress-bar .progress-bar-outer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #93c274;
	}
	
	.progress-bar .progress-bar-outer .progress-bar-inner {
		position: absolute;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
	}

/* ==========================================================================
   =Revolution Slider
   ========================================================================== */
   
/* =Rev Slider Basics
   ========================================================================== */   
   
	.fullwidthbanner-container {
		position: relative;
		overflow: hidden;
		width: 100% !important;
		padding: 0;
		margin: 0; 
	}

	.fullwidthbanner-container ul { list-style: none; }

	.fullwidthbanner-container .fullwidthbanner {
		position: relative;
		width: 100% !important;
	}
	
	/**
 	 * 1. We apply the max-height using an extra class to make the transition to WP more easy
	 *    If we apply the max-heigh directly to .fullwidthbanner-container, in WP, it would overwrite the height setting you make in the plugin
 	 */
	
	.slider-revolution.fullwidthbanner-container {
		max-height: 655px !important; /* 1 */
		margin-bottom: 100px; 
	}

	.slider-revolution.fullwidthbanner-container .fullwidthbanner {
		max-height: 655px !important; /* 1 */
	}

/* =Rev Slider Pager
   ========================================================================== */

   /**
 	 * 1. changing the z-index from 1000 so that the bullets don't go over the sticky menu
 	 */
   
	.tp-bullets { 
		z-index: 100; /* 1 */
	}
	   
	.tp-bullets.simplebullets.round .bullet {
		width: 7px;
		height: 7px;
		border: 2px solid #93c274;
		border-radius: 50%;
		margin: 0 5px;
		background: transparent;
	}

	.tp-bullets.simplebullets.round .bullet.selected { background: #93c274; }

/* =Rev Slider navigation
   ========================================================================== */

	.tp-leftarrow.default,
	.tp-rightarrow.default {
		width: 33px;
		height: 33px;
		opacity: 0.5;
	}

	.tp-leftarrow.default:hover,
	.tp-rightarrow.default:hover { opacity: 1; }

	.tp-leftarrow.default { background: url(../images/left.png) no-repeat center center; }
	.tp-rightarrow.default { background: url(../images/right.png) no-repeat center center; }
	
/* =Rev Slider typography
   ========================================================================== */
   	
	.caption.title {
		color: #fff;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.caption.title-2 {
		color: #3b3e43;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.caption.subtitle {
		color: #93c274;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.caption.text {
		color: #fff;
		font-size: 14px;
		font-weight: 600;
	}
	
	.caption.text-2 {
		color: #3b3e43;
		font-size: 14px;
		font-weight: 600;
		text-align: right;
	}
	
	.caption .btn:hover { color: #fff; }

	@media (min-width: 768px) and (max-width: 991px) {
		
		.tp-leftarrow.default,
		.tp-rightarrow.default { display: none; }
		
		.caption .btn {
			padding: 5px 25px 5px 15px;
		}
		
		.caption .btn:after {
			border-top-width: 28px; 
			border-left-width: 28px; 
		}
		
	}

	@media (max-width: 767px) {
		
		.slider-revolution.fullwidthbanner-container { margin-bottom: 100px; }
		
		.tp-leftarrow.default,
		.tp-rightarrow.default { display: none; }
		
		.tp-bullets { bottom: 0 !important; }
		
		.caption .btn {
			padding: 3px 15px 3px 05px;
			line-height: 10px;
		}
		
		.caption .btn:after {
			border-top-width: 18px; 
			border-left-width: 18px; 
		}
		
	}
	
/* ==========================================================================
   =Social Media
   ========================================================================== */

	a.social-icon {
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 1px;
		color: #858585;
		text-align: center;
	}

	a.social-icon:last-child { margin-right: 0; }

	a.social-icon i {
		font-size: 18px;
		line-height: 30px;
	}
	
	a.social-icon:hover { text-decoration: none; }
	
	a.facebook-icon:hover { color: #0e59a0 !important; }
	a.twitter-icon:hover { color: #0ea4ff !important; }
	a.dribble-icon:hover { color: #ea73a0 !important; }
	a.pinterest-icon:hover { color: #d73532 !important; }
	a.googleplus-icon:hover { color: #282927 !important; }
	a.tumblr-icon:hover { color: #586980 !important; }
	a.instagram-icon:hover { color: #82685a !important; }
	a.rss-icon:hover { color: #f79638 !important; }
	a.linkedin-icon:hover { color: #018faf !important; }
	a.skype-icon:hover { color: #00b0f6 !important; }
	a.flickr-icon:hover { color: #0061db !important; }
	a.vimeo-icon:hover { color: #63879c !important; }
	a.github-icon:hover { color: #3b3b3b !important; }
	a.youtube-icon:hover { color: #cc181e !important; }
	a.windows-icon:hover { color: #6dc2e9 !important; }
	a.dropbox-icon:hover { color: #007ee5 !important; }
	a.xing-icon:hover { color: #026566 !important; }	
	a.adn-icon:hover { color: #1ea076 !important; }
	a.android-icon:hover { color: #98cb02 !important; }
	a.apple-icon:hover { color: #000000 !important; }
	a.behance-icon:hover { color: #2d9ad2 !important; }
	a.bitbucket-icon:hover { color: #214f81 !important; }
	a.bitcoin-icon:hover { color: #f7931b !important; }
	a.codepan-icon:hover { color: #000000 !important; }
	a.css3-icon:hover { color: #3289ce !important; }
	a.delicious-icon:hover { color: #3399fe !important; }
	a.deviantart-icon:hover { color: #c8da30 !important; }
	a.digg-icon:hover { color: #0080c2 !important; }
	a.drupal-icon:hover { color: #0077b9 !important; }
	a.empire-icon:hover { color: #000000 !important; }
	a.foursquare-icon:hover { color: #daecb0 !important; }
	a.git-icon:hover { color: #f34f29 !important; }
	a.gitti-icon:hover { color: #634c3e !important; }
	a.hacker-news-icon:hover { color: #f18642 !important; }
	a.html5-icon:hover { color: #e54c1f !important; }
	a.joomla-icon:hover { color: #016fb9 !important; }
	a.jsfiddle-icon:hover { color: #4679a4 !important; }
	a.linux-icon:hover { color: #fece0e !important; }
	a.maxcdn-icon:hover { color: #f36f20 !important; }
	a.openid-icon:hover { color: #fe6101 !important; }
	a.pagelines-icon:hover { color: #3783e3 !important; }
	a.pied-piper-icon:hover { color: #0c7b48 !important; }
	a.qq-icon:hover { color: #23286c !important; }
	a.rebel-icon:hover { color: #000000 !important; }
	a.reddit-icon:hover { color: #cee3f8 !important; }
	a.renren-icon:hover { color: #0d81e4 !important; }
	a.share-icon:hover { color: #252525 !important; }
	a.slack-icon:hover { color: #453744 !important; }
	a.soundcloud-icon:hover { color: #fe4e00 !important; }
	a.spotify-icon:hover { color: #80bb41 !important; }
	a.stack-exchange-icon:hover { color: #265a93 !important; }
	a.stackoverflow-icon:hover { color: #fea501 !important; }
	a.steam-icon:hover { color: #191919 !important; }
	a.stumbleupon-icon:hover { color: #f04f23 !important; }
	a.tencent-weibo-icon:hover { color: #0063a7 !important; }
	a.trello-icon:hover { color: #226784 !important; }
	a.vine-icon:hover { color: #00b081 !important; }
	a.vk-icon:hover { color: #50769d !important; }
	a.wechat-icon:hover { color: #a4dc31 !important; }
	a.weibo-icon:hover { color: #d82828 !important; }
	a.wordpress-icon:hover { color: #454442 !important; }
	a.yahoo-icon:hover { color: #4b04a8 !important; }

/* ==========================================================================
   =Tabs
   ========================================================================== */

/* =Horizontal tabs
   ========================================================================== */
		
   /*
    *  1. Wraps around a horizontal tab group
	*/
   
	.tabs-container {} /* 1 */

	.tabs-container .tabs-menu { 
		border-bottom: 1px solid #e1e1e1;
		margin-top: 10px; 
		margin-bottom: 0;
		list-style: none; 
	}
	
	.tabs-container .tabs-menu li { display: inline; }
	
	.tabs-container .tabs-menu li a { 
		float: left; 
		display: block;
		padding: 15px 25px; 
		border: 1px solid #e1e1e1;
		border-left: none;		
		margin-bottom: -1px; 
		color: #858585;
		font-family: 'Quicksand', Arial, sans-serif;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.tabs-container .tabs-menu li a:hover { text-decoration: none; }
	
	.tabs-container .tabs-menu li:first-child a { border-left: 1px solid #e1e1e1; }
	
	.tabs-container .tabs-menu li a:hover,
	.tabs-container .tabs-menu li.active a {
		padding-top: 20px; 
		border-left: 1px solid #93c274;
		border-bottom-color: #fff; 
		margin-top: -5px;
		background-color: #93c274;
		color: #fff; 
	}
	
	.tabs-container .tabs {
		border: 1px solid #e1e1e1; 
		border-top: none;   
		margin-bottom: 30px;
	}
	
	.tabs-container .tab-content { padding: 25px 25px 5px 25px; }
	
	/*
	 * 1. Clearfix hack 
	 */
	.tabs-container .tab-content:after,
	.tabs-container .tabs-menu:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.tabs-container .tabs-menu li a { padding: 7px 15px;  }
		
		.tabs-container .tabs-menu li a:hover,
		.tabs-container .tabs-menu li.active a { padding-top: 12px; }
		
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu { border-bottom: none; }
		
		.tabs-container .tabs-menu li { display: block; }
	
		.tabs-container .tabs-menu li a { 
			float: none; 
			display: block;
			padding: 20px 25px;
			border: 1px solid #e1e1e1;
			border-top: none;
			margin: 0;
		}
		
		.tabs-container .tabs-menu li a:hover { text-decoration: none; }
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #e1e1e1; }
		
		.tabs-container .tabs-menu li a:hover,
		.tabs-container .tabs-menu li.active a { 
			padding-top: 20px; 
			margin-top: 0;
		}
		
		.tabs-container .tabs-menu li.active a {  
			padding: 20px 25px;
			border-bottom-color: #e1e1e1;
			margin: 0;
			background-color: #93c274;
			color: #fff; 
		}	
		
		.tabs-container .tab-content .alignleft { float: none; }
	  
	}
	
/* ==========================================================================
   =Testimonials
   ========================================================================== */

	.testimonial { 
		margin-bottom: 30px;
		text-align: center;
	}
	
	.testimonial:before {
		display: block;
		width: 68px;
		height: 68px;
		border: 2px solid #93c274;
		border-radius: 50%;
		margin: 0 auto 40px auto;
		color: #93c274;
		font-family: "FontAwesome";
		font-size: 32px;
		line-height: 68px;
		content: "\f0e6";
	}
	
	.testimonial.alt:before { content: none; }
	
	.testimonial blockquote {
		margin-bottom: 40px;
		font-size: 18px;
		font-weight: 600;
	}
	
	.testimonial.alt blockquote {
		position: relative;
		padding-left: 50px;
		color: #3b3e43;
		font-size: 16px;
	}
	
	.testimonial.alt blockquote:before {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		height: auto;
		border: none;
		color: #93c274;
		font-family: 'Quicksand', Arial, sans-serif;
		font-size: 72px;
		content: "\201c";
	}
	
	.testimonial.alt blockquote p { font-style: normal; }
	
	.testimonial img {
		display: inline-block;
		border-radius: 50%;
		margin-bottom: 40px;
	}
	
	.testimonial h5 span {
		display: block;
		color: #75ae6a;
		text-transform: uppercase;
	}
	
	.testimonial h5 + blockquote { margin-top: 50px; }
	
	@media (max-width: 767px) {
		
		.testimonial.alt blockquote { padding-left: 25px; }
		.testimonial.alt blockquote:before { font-size: 48px; }
		
	}
	
/* ==========================================================================
   =Team Member
   ========================================================================== */

	.team-member { 
		margin-bottom: 30px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.team-member-preview, 
	.team-member-description {
		position: relative;
		float: left;
		width: 50%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
	}
	
	.team-member-preview { padding: 20px 30px 20px 0; }
	
	.team-member-preview img {
		display: block;
		width: 100%;
	}
	
	.team-member-description {
		z-index: 1; 
		padding: 15px 10px 35px 0;
		-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
				transform: translateZ(0);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.team-member-description h3 {
		margin-bottom: 0;
		text-transform: uppercase; 
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.team-member-description h5 { 
		margin-bottom: 40px;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.team-member-description .social-media { margin-top: 40px; }
	
	.team-member .team-member-description:after {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #75ae6a;
		opacity: 0;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.team-member .team-member-description:before {
		position: absolute;
		top: 50%;
		left: -20px;
		width: 0; 
		height: 0; 
		border-top: 12px solid transparent; 
		border-right: 20px solid #75ae6a; 
		border-bottom: 12px solid transparent;
		content: "";
		opacity: 0;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.team-member:hover .team-member-description:before,
	.team-member:hover .team-member-description:after {
		margin-left: -30px;
		opacity: 1;
	}
	
	.team-member:hover .team-member-description,
	.team-member:hover .team-member-description h3,
	.team-member:hover .team-member-description h5, 
	.team-member:hover .team-member-description .social-media a.social-icon { color: #fff; }
	
	.team-member.alt { text-align: right; }
	
	.team-member.alt .team-member-preview {
		padding-left: 30px;
		padding-right: 0;
	}
	
	.team-member.alt:hover .team-member-description:before,
	.team-member.alt:hover .team-member-description:after {
		margin-left: 0;
		margin-right: -30px; 
	}
	
	.team-member.alt .team-member-description:before {
		left: auto;
		right: -20px;
		border-right: none; 
		border-left: 20px solid #75ae6a; 
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.team-member:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}	
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.team-member-preview {
			float: none;
			width: 100%;
			padding: 0;
		}
		
		.team-member-description {
			float: none;
			width: 100%;
			padding: 20px;
		}				
		
		.team-member .team-member-description:before {
			top: 0;
			left: 50%;
			border-right: 12px solid transparent; 
			border-bottom: 20px solid #75ae6a;
			border-left: 12px solid transparent;
			-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
					transform: translateX(-50%);
		}
		
		.team-member .team-member-description:after { margin-top: 30px; }
		
		.team-member:hover .team-member-description:before { top: -30px; margin: 0; }	
		.team-member:hover .team-member-description:after { margin: 0; }
		
		.team-member.alt .team-member-preview { padding-left: 0; }
		
		.team-member.alt:hover .team-member-description:before,
		.team-member.alt:hover .team-member-description:after { margin-right: 0; }
		
		.team-member.alt .team-member-description:after { 
			margin-top: 0;
			margin-bottom: 30px;
		}
		
		.team-member.alt .team-member-description:before {
			top: auto;
			bottom: 10px;
			left: 50%; 
			border-top: 20px solid #75ae6a;
			border-right: 12px solid transparent;
			border-bottom: none;
			border-left: 12px solid transparent;
		}
		
		.team-member.alt:hover .team-member-description:after { margin-bottom: 0; }
		.team-member.alt:hover .team-member-description:before { bottom: -20px; }
		
	}
	
	@media (max-width: 767px) {
		
		.team-member-preview {
			float: none;
			width: 100%;
			padding: 0;
		}
		
		.team-member-description {
			float: none;
			width: 100%;
			padding: 20px;
		}				
		
		.team-member .team-member-description:before {
			top: 0;
			left: 50%;
			border-right: 12px solid transparent; 
			border-bottom: 20px solid #75ae6a;
			border-left: 12px solid transparent;
			-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
					transform: translateX(-50%);
		}
		
		.team-member .team-member-description:after { margin-top: 30px; }
		
		.team-member:hover .team-member-description:before { top: -30px; margin: 0; }	
		.team-member:hover .team-member-description:after { margin: 0; }
		
		.team-member.alt .team-member-preview { padding-left: 0; }
		
		.team-member.alt:hover .team-member-description:before,
		.team-member.alt:hover .team-member-description:after { margin-right: 0; }
		
		.team-member.alt .team-member-description:after { 
			margin-top: 0;
			margin-bottom: 30px;
		}
		
		.team-member.alt .team-member-description:before {
			top: auto;
			bottom: 10px;
			left: 50%; 
			border-top: 20px solid #75ae6a;
			border-right: 12px solid transparent;
			border-bottom: none;
			border-left: 12px solid transparent;
		}
		
		.team-member.alt:hover .team-member-description:after { margin-bottom: 0; }
		.team-member.alt:hover .team-member-description:before { bottom: -20px; }
		
	}
	
/* ==========================================================================
   =Portfolio Item
   ========================================================================== */
	
	.portfolio-item { 
		position: relative;
		margin-bottom: 40px;
	}
	
	.portfolio-item-preview { 
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}
	
	.portfolio-item-preview > img {
		display: block;
		width: 100%;
	}
	
	.portfolio-item-overlay {
		position: absolute;
		z-index: 1;
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0; 
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
				transform: translateZ(0);
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item-overlay:after {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: #93c274;
		opacity: 0;
		content: "";
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-item:hover .portfolio-item-overlay { opacity: 1; }
	
	.portfolio-item:hover .portfolio-item-overlay:after { 
		opacity: 0.5;
		-webkit-transform: skew(30deg);
			-ms-transform: skew(30deg);
				transform: skew(30deg);
	}	
		
	.portfolio-item-overlay-actions {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		text-align: center;
		-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}
	
	.portfolio-item-overlay-actions a {
		color: #fff;
		font-size: 26px;
	}
	
	.portfolio-item-overlay-actions a:hover {
		color: #93c274;
		text-decoration: none;
	}
	
	.portfolio-item-description + .portfolio-item-overlay-actions { top: 40%; }
	
	.portfolio-item-description h3 { 
		margin-bottom: 0;
		text-transform: uppercase;
	}
	
	.portfolio-item-description h3 a { color: #3b3e43; }
	
	.portfolio-item-description h3 + p {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.portfolio-item-overlay .portfolio-item-description {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		color: #93c274;
	}
	
	.portfolio-item-overlay .portfolio-item-description h3 a { color: #fff; }
	
	.portfolio-item-description h3 a:hover { 
		color: #93c274;
		text-decoration: none; 
	}
	
	.portfolio-item-preview + .portfolio-item-description { 
		margin: 40px 0;
		text-align: center;
	}
	
/* ==========================================================================
   =Portfolio Filter
   ========================================================================== */
	
	.portfolio-filter ul {
		margin-bottom: 100px;
		text-align: center;
		list-style: none;
	}
	
	.portfolio-filter ul li { 
		display: inline-block;
		margin-right: 20px;
	}
	
	.portfolio-filter ul li:last-child { margin-right: 0; }
	
	.portfolio-filter ul li a {
		display: block;
		padding: 12px 25px;
		border: 2px solid #e1e1e1;
		color: #3b3e43;
		font-weight: 600;
		letter-spacing: 0.5px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active {
		border-color: #75ae6a;
		background-color: #75ae6a; 
		color: #fff;
	}	
	
	@media (max-width: 767px) {
		
		.portfolio-filter ul li { 
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
		
		.portfolio-filter ul li:last-child { margin-bottom: 0; }  
		
	}

/* ==========================================================================
   =Portfolio Pagination
   ========================================================================== */
	
	.portfolio-pagination { 
		margin-bottom: 50px;
		text-align: center;
	}

	/*
	 * 1. Clearfix hack 
	 */
	.portfolio-pagination:after { /* 1 */
		visibility: hidden;
		display: table;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}	
	
	.portfolio-pagination .nav-links {}

	.portfolio-pagination .page-numbers {
		display: inline-block;
		width: 42px;
		height: 42px;
		border: 2px solid #e1e1e1;
		margin-right: 5px;
		line-height: 42px;
		font-weight: 600;
		text-align: center;
		text-decoration: none;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}
	
	.portfolio-pagination .page-numbers:last-child { margin-right: 0; }

	.portfolio-pagination .page-numbers:hover,
	.portfolio-pagination .page-numbers.current {
		border-color: #93c274;
		background-color: #93c274;
		color: #fff;
	}

	.portfolio-pagination .current {}
	
	.portfolio-pagination .page-numbers.dots { border: none; }
	
	.portfolio-pagination .page-numbers.dots:hover {
		background-color: transparent;
		color: #00c5e9;
	}

	.portfolio-pagination .prev,
	.portfolio-pagination .next {}

	.portfolio-pagination .prev:before,
	.portfolio-pagination .next:before { font-family: "FontAwesome"; }

	.portfolio-pagination .prev:hover,
	.portfolio-pagination .prev:focus,
	.portfolio-pagination .next:hover,
	.portfolio-pagination .next:focus {}

	.portfolio-pagination .prev {}

	.portfolio-pagination .prev:before { content: "\f104"; }

	.portfolio-pagination .next {}

	.portfolio-pagination .next:before { content: "\f105"; }
   
/* ==========================================================================
   =Portfolio Grid
   ========================================================================== */

   .portfolio-grid {
		margin-bottom: 100px;
		list-style: none;
	}
	
	.portfolio-grid.gutter { margin: -15px -15px 100px -15px; }
	
	.portfolio-grid .item {
		float: left;
		width: 33.333333%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}
	
	.portfolio-grid.gutter .item { padding: 15px; }
	
	.portfolio-grid .portfolio-item,
	.portfolio-grid .portfolio-item-preview { margin-bottom: 0; } 
	
	/*
	 * 1. Clearfix hack 
	 */
	.portfolio-grid:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}	
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.portfolio-grid .item { width: 50%;  }
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-grid .item {
			float: none;
			width: 100%; 
		}
		
	}
   
/* ==========================================================================
   =Portfolio Strip
   ========================================================================== */
   
   .portfolio-strip {
		margin-bottom: 30px;
		list-style: none;
	}
	
	.portfolio-strip .item {
		float: left;
		width: 25%;
	}
	
	.portfolio-strip .item:last-child { display: none; }
	
	.portfolio-strip .portfolio-item { margin-bottom: 0; } 
	
	/*
	 * 1. Clearfix hack 
	 */
	.portfolio-strip:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	@media (min-width: 1200px) {
		
		.portfolio-strip .item { width: 20%; }
		.portfolio-strip .item:last-child { display: block; } 
		
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.portfolio-strip .item { width: 33.3333333333%; }
		.portfolio-strip .item:last-child { display: block; } 
		
	}
	
	@media (max-width: 767px) {
		
		.portfolio-strip .item {
			float: none;
			width: 100%; 
		}
		
		.portfolio-strip .item:last-child { display: block; } 
		
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.portfolio-strip .item {
			float: left;
			width: 50%; 
		}
		
	}
	
/* ==========================================================================
   =Bx Slider
   ========================================================================== */
   
/* =Bx Slider reset
   ========================================================================== */
   
	.bx-wrapper { margin: 0 auto 40px; }
   
	.bx-pager,
	.bx-controls-auto,
	.bx-controls-direction  { z-index: 100; }
   
/* =Bx Slider theme
   ========================================================================== */   
   
   .bx-wrapper {		
		border: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;		
		background: none;
	}

/* =Bx Slider Pager
   ========================================================================== */
   	
	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 7px;
		height: 7px;
		border: 2px solid #93c274;
		border-radius: 50%;
		background: transparent;
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
		background: #93c274;
	} 
   
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto { bottom: -30px; }
	
/* =Bx Slider Dir Nav
   ========================================================================== */ 
   
	.bx-wrapper .bx-prev {
		left: 0;
		background: #3b3e43 url(../images/left.png) no-repeat center center;
	}

	.bx-wrapper .bx-next {
		right: 0;
		background: #3b3e43 url(../images/right.png) no-repeat center center;
	}
	
	.bx-wrapper .bx-prev:hover, 
	.bx-wrapper .bx-next:hover { background-position: center center; }
	
	/*
	 * 1. We are changing the original z-index from 9999 to 1000 so that it doesn't overlap other elements that need to be above this one
	 */
	.bx-wrapper .bx-controls-direction a {
		width: 48px;
		height: 48px;
		z-index: 1000; /* 1 */	
	}	
	
	.images-slider-vertical .bx-wrapper img { margin: 0 auto; }
	
	.images-slider-vertical .bx-wrapper .bx-pager, 
	.images-slider-vertical .bx-wrapper .bx-controls-auto { 
		top: 50%;
		-webkit-transform: translateY(-25%);
			-ms-transform: translateY(-25%);
				transform: translateY(-25%);
	}
	
	.images-slider-vertical .bx-wrapper .bx-pager-item, 
	.images-slider-vertical .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
		display: block;
		margin: 5px 0;
	}
	
	.images-slider { margin-bottom: 100px; }
	
/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
   	
	.fullwidth-section.custom-color-selected {
		background-color: #3b3e43;
		color: #fff;
	}
	
	.fullwidth-section.custom-color-selected a,
	.fullwidth-section.custom-color-selected h1,
	.fullwidth-section.custom-color-selected h2,
	.fullwidth-section.custom-color-selected h3,
	.fullwidth-section.custom-color-selected h4,
	.fullwidth-section.custom-color-selected h5,
	.fullwidth-section.custom-color-selected h6, 
	.fullwidth-section.custom-color-selected .milestone .milestone-content, 
	.fullwidth-section.custom-color-selected .pie-chart .pie-chart-custom-text, 
	.fullwidth-section.custom-color-selected .pie-chart .pie-chart-percent,
	.fullwidth-section.custom-color-selected .pie-chart i,
	.fullwidth-section.custom-color-selected .pie-chart-title, 
	.fullwidth-section.custom-color-selected .progress-percentage,
	.fullwidth-section.custom-color-selected .progress-bar-description, 
	.fullwidth-section.custom-color-selected .tabs-container .tabs-menu li a, 
	.fullwidth-section.custom-color-selected .ewf_widget_latest_posts ul li .title, 
	.fullwidth-section.custom-color-selected .testimonial.alt blockquote { color: inherit; }
	
	.fullwidth-section.custom-color-selected .btn-white { border-color: inherit; }
	
	.fullwidth-section.custom-color-selected .pie-chart-description:before { border-bottom: none; }
	
	.fullwidth-section .horizontal-process-builder li i,
	.fullwidth-section .horizontal-process-builder li h1 {
		color: #3b3e43;
		outline: none;
	}
	
	.fullwidth-section .horizontal-process-builder li:hover i,
	.fullwidth-section .horizontal-process-builder li:hover h1 { color: #fff; }
	
	.fullwidth-section.custom-color-selected .pricing-table { background-color: transparent; }
	.fullwidth-section.custom-color-selected .pricing-table:hover { background-color: #93c274; }
	
	
	#bg-1 {
		padding: 150px 0 130px 0;		
		margin-top: 50px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x1080-1.jpg);
	}
	
	#bg-2 {
		border-top: 10px solid #93c274;
		background-image: url(../../content/backgrounds/1920x800-1.jpg); 
	}
	
	#bg-3 {
		padding: 200px 0 150px 0;
		margin-top: 50px;
		background-image: url(../../content/backgrounds/1920x1080-2.jpg);
	}
	
	#bg-4 {
		padding: 10px 0;
	}
	
	#bg-5 {
		margin-top: 100px;
		margin-bottom: 0;
		background-image: url(../../content/backgrounds/1920x800-2.jpg);
	}
	
	#bg-6 {
		padding: 200px 0 180px 0;
		background-image: url(../../content/backgrounds/2500x700.jpg);
		background-repeat: no-repeat;
	}
	
	#bg-7 {
		padding-bottom: 0;
		margin-top: 50px;
		margin-bottom: 0;
		background-color: #93c274;
	}
	
	#bg-8 {
		padding: 10px 0;
		margin-top: 50px;
		margin-bottom: 0;
	}
	
	#bg-9 {
		padding-top: 250px;
		margin-bottom: 20px;
		background-color: #fff;
	}
	
	#bg-9:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 0; 
		height: 0; 
		border-top: 600px solid #93c274; 
		border-left: 1920px solid transparent; 
		content: "";
	}
	
	#bg-10 {
		padding: 40px 0 20px 0;
		margin-top: 100px;
		background-image: url(../../content/backgrounds/1920x800-3.jpg);
	}
	
	#bg-11 {
		overflow: visible;
		padding: 0;
		margin-top: 120px;
		margin-bottom: -50px;
		background-image: url(../../content/backgrounds/1920x1080-3.jpg);
	}
	
	#bg-11 img { margin-top: -60px; }
	
	#bg-12 {
		padding: 40px 0 20px 0;
		margin-top: -100px;
		background-image: url(../../content/backgrounds/1920x800-4.jpg);
	}
	
	#bg-13 {
		padding: 300px 0 200px;
		margin-top: 80px;
	}
	
	#bg-14 {
		padding: 100px 0 70px 0;
		margin-top: 80px;
		background-image: url(../../content/backgrounds/1920x1080-4.jpg);
	}
	
	#bg-15 {
		padding: 100px 0;
		margin-top: 50px;
		margin-bottom: -70px;
		background: url(../../content/backgrounds/1920x800.png) no-repeat center bottom;
	}
	
	#bg-16 {
		padding: 100px 0;
		margin-bottom: 0;
		background: #fff url(../../content/backgrounds/1920x1700.jpg) no-repeat center top;
	}
	
	#bg-17 {
		padding: 60px 0;
		margin-bottom: -50px;
		background-color: #2b2b2b;
	}
	
	#bg-18 {
		padding: 120px 0 100px 0;
		margin-bottom: 0;
		background-image: url(../../content/portfolio/1920x1080-1.jpg);
	}
	
	#bg-19 {
		padding: 150px 0;
		margin-bottom: 0;
		background-image: url(../../content/portfolio/1920x1080-2.jpg);
	}
	
	#bg-20 {
		padding: 150px 0;
		margin-bottom: 0;
		background-image: url(../../content/portfolio/1920x1080-3.jpg);
	}
	
	#bg-21 {
		padding: 150px 0;
		margin-bottom: -50px;
		background-image: url(../../content/portfolio/1920x1080-4.jpg);
	}
	
	#bg-22 {
		padding-top: 20px;
		background-color: #fff;
		box-shadow: inset 0px -40px 40px 0px rgba(0, 0, 0, 0.05);
	}
	
	#bg-23 {
		padding: 10px 0;
		margin: 100px 0 -50px 0;
	}