	.row {
		padding-bottom:0px;
		margin-bottom:0px;
	}
	
	.links {
		float: right;
		display: inline-block;
		padding-top:10px;
		padding-bottom:0px;
		margin-bottom:0px;
	}
	
	.links li {
		display: inline-block;
		float: left;
	}
	
	.links li a {
		margin: 0 10px;
		font-weight: bold;
	}
 
 /* ==========================================================================
   =Typography
   ========================================================================== */
   	 
	body {
		background-color: #fff;
		color: #858585;
	}
	
	@media (max-width: 767px) {
	 
		body { 
			background: none;
			background-color: #fff; 
		}
		
	}	

	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 {
		color: #3b3e43;
	}
		
	h1 a, 
	h2 a, 
	h3 a, 
	h4 a, 
	h5 a, 
	h6 a {
		color: #3b3e43; 
	}
	
	h1 a:hover, 
	h2 a:hover, 
	h3 a:hover, 
	h4 a:hover, 
	h5 a:hover, 
	h6 a:hover {
		color: #ee6146;  
	}
	
	abbr[title] {  
		border-bottom: 1px dotted #b8b8b8; 
	}
	
	hr {
		border: solid #e1e1e1; 
	}
	
	code { 
		border: 1px solid #e1e1e1;
		background-color: #f8f8f8;  
		color: #ff0030;  
	}
	
	pre { 
		border: 1px solid #e1e1e1;		
		background-color: #f8f8f8; 
	}
	
	mark,
	ins {
		border: 1px solid #e1e1e1;
		background-color: #f8f8f8; 
	}
	
	.hr { 
		border-top: 1px solid #e1e1e1;  
	}
	
	.text-highlight { color: #ee6146; font-weight:300;}

	.mute{ color: #b8b8b8; }

/* ==========================================================================
   =Links
   ========================================================================== */
	
	a, 
	a:visited { 
		color: #ee6146; 
	}
	
	a:active {
 		background: transparent;
	}	
	
/* ==========================================================================
   =Lists
   ========================================================================== */
	
/* =Custom lists
   ========================================================================== */	
	
	ul.check li:before,
	ul.plus li:before,
	ul.pin li:before { 
		color: #ee6146;
	}

/* ==========================================================================
   =Tables
   ========================================================================== */

	table,
	th,
	td { border: 1px solid #e1e1e1; }
	
/* ==========================================================================
   =Forms
   ========================================================================== */

	fieldset legend {
		background: #fff;								
	}
	
	::-moz-placeholder,
	::-webkit-input-placeholder,
	:-ms-input-placeholder {
		color: #b8b8b8;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	input[type="color"],
	textarea {	
		border: 2px solid #e1e1e1;
		background-color: #fff;
		color: #858585;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="date"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="time"]:focus,
	input[type="url"]:focus,
	input[type="color"]:focus,
	textarea:focus {
		border-color: #dfbc5e;
	}

	input[type="text"]:disabled,
	input[type="password"]:disabled,
	input[type="date"]:disabled,
	input[type="datetime"]:disabled,
	input[type="datetime-local"]:disabled,
	input[type="month"]:disabled,
	input[type="week"]:disabled,
	input[type="email"]:disabled,
	input[type="number"]:disabled,
	input[type="search"]:disabled,
	input[type="tel"]:disabled,
	input[type="time"]:disabled,
	input[type="url"]:disabled,
	input[type="color"]:disabled,
	textarea:disabled {
		background-color: #f8f8f8;
	}

	input[type="text"][disabled],
	input[type="text"][readonly],
	fieldset[disabled] input[type="text"],
	input[type="password"][disabled],
	input[type="password"][readonly],
	fieldset[disabled] input[type="password"],
	input[type="date"][disabled],
	input[type="date"][readonly],
	fieldset[disabled] input[type="date"],
	input[type="datetime"][disabled],
	input[type="datetime"][readonly],
	fieldset[disabled] input[type="datetime"],
	input[type="datetime-local"][disabled],
	input[type="datetime-local"][readonly],
	fieldset[disabled] input[type="datetime-local"],
	input[type="month"][disabled],
	input[type="month"][readonly],
	fieldset[disabled] input[type="month"],
	input[type="week"][disabled],
	input[type="week"][readonly],
	fieldset[disabled] input[type="week"],
	input[type="email"][disabled],
	input[type="email"][readonly],
	fieldset[disabled] input[type="email"],
	input[type="number"][disabled],
	input[type="number"][readonly],
	fieldset[disabled] input[type="number"],
	input[type="search"][disabled],
	input[type="search"][readonly],
	fieldset[disabled] input[type="search"],
	input[type="tel"][disabled],
	input[type="tel"][readonly],
	fieldset[disabled] input[type="tel"],
	input[type="time"][disabled],
	input[type="time"][readonly],
	fieldset[disabled] input[type="time"],
	input[type="url"][disabled],
	input[type="url"][readonly],
	fieldset[disabled] input[type="url"],
	input[type="color"][disabled],
	input[type="color"][readonly],
	fieldset[disabled] input[type="color"],
	textarea[disabled],
	textarea[readonly],
	fieldset[disabled] textarea {
		background-color: #f8f8f8;
	}

	select {
		border: 1px solid #e1e1e1;
		background-color: #fff;
		color: #858585;
	}

	select:disabled {
		background-color: #f8f8f8;
	}
	
	select:focus { border-color: #bbb; }
	
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"] {
		border: 1px solid #dfbc5e;
		background-color: #dfbc5e;
		color: #fff;
	}
	
	input[type="reset"]:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover { background-color: #ee6146; }
	
	
/* ==========================================================================
   =Wrap
   ========================================================================== */

	#wrap {
		background-color: #fff;
	}

/* ==========================================================================
	=Header Top
	========================================================================== */
   
   #header-top {
		background-color: #2b2b2b;
		color: #858585;
		padding-top:5px;
		padding-bottom:5px;
		font-weight:bold;
   }
   
    #header-top a,
	#header-top h1,
	#header-top h2,
	#header-top h3,
	#header-top h4,
	#header-top h5,
	#header-top h6 { color: rgb(223, 188, 94); }
	
	#header-top a:hover { color: #dfbc5e; }
   
/* ==========================================================================
   =Header 
   ========================================================================== */
   	
	#header {
		border-top: 1px solid #ee6146;
	}
	
/* ==========================================================================
   =Menu 
   ========================================================================== */

/* =Menu Skin
   ========================================================================== */ 
	
	.sf-menu a {
		color: #fff; 
	}
	
	.sf-menu > li > a,
	.sf-menu > li.dropdown > a {
		color: #2b2b2b;
	}
	
	.header-style-2 .sf-menu > li > a,
	.header-style-2 .sf-menu > li.dropdown > a { color: #fff; }
	
	.sf-menu > li > a:before,
	.sf-menu > li.dropdown > a:before {
		border-top: 15px solid transparent;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}
	
	.sf-menu > li > a:hover:before,
	.sf-menu > li.dropdown > a:hover:before, 
	.sf-menu > li.current > a:before, 
	.sf-menu > li.sfHover > a:before { border-top-color: #ee6146; }
	
	.sf-menu > li.current > a,
	.sf-menu li.sfHover > a,
	.sf-menu a:hover,
	.sf-menu li.sfHover a:hover, 
	.header-style-2 .sf-menu > li.current > a,
	.header-style-2 .sf-menu li.sfHover > a,
	.header-style-2 .sf-menu a:hover,
	.header-style-2 .sf-menu li.sfHover a:hover {
		color: #ee6146;
	}

/* =DropDown
   ========================================================================== */
	
	.sf-menu li.dropdown ul {
		background-color: #2b2b2b;			
	}
	
	.sf-menu li.dropdown ul li a:before {
		border-top: 20px solid transparent; 
		border-right: 20px solid transparent;
	}
	
	.sf-menu li.dropdown ul li.sfHover > a:before,
	.sf-menu li.dropdown ul li a:hover:before { border-top-color: #ee6146; }
		
/* =Mega Menu Section
   ========================================================================== */
	
	.sf-mega {
		background-color: #2b2b2b;
		color: #fff;
	}
	
	.sf-mega-section ul li a:before {
		border-top: 20px solid transparent; 
		border-right: 20px solid transparent;
	}
	
	.sf-mega-section ul li a:hover:before { border-top-color: #ee6146; }
	
/* =Menu Arrows
   ========================================================================== */
	
	.sf-arrows .sf-with-ul:after {
		border: 4px solid transparent;
		border-top-color: #b8b8b8;
	}
		
	.sf-arrows > li > .sf-with-ul:focus:after,
	.sf-arrows > li:hover > .sf-with-ul:after,
	.sf-arrows > .sfHover > .sf-with-ul:after { border-top-color: #ee6146; }
		
	.sf-arrows ul .sf-with-ul:after {
		border-color: transparent;
		border-left-color: #b8b8b8;
	}
	
	.sf-arrows ul li > .sf-with-ul:focus:after,
	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after { border-left-color: #ee6146; }
	
/* ==========================================================================
   =Mobile Menu 
   ========================================================================== */
			
	#mobile-menu {
		border-bottom: 1px solid #e1e1e1;
		background-color: #2b2b2b;
	}

	#mobile-menu li a {
		border-top: 1px solid #e1e1e1;
		color: #fff;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow {
		border-left: 1px solid #e1e1e1;
		color: #fff;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #ee6146; }		
		
/* ==========================================================================
   =Custom search form 
   ========================================================================== */
	
	#custom-search-button { 
		background: url(../../images/bg-search.png) no-repeat center center;
	}
	
	.header-style-2 #custom-search-button { background-image: url(../../images/bg-search-2.png); }

	#custom-search-form:before {
		border-right: 7px solid transparent; 
		border-bottom: 10px solid #e1e1e1; 
		border-left: 7px solid transparent; 
	}
	
	#custom-search-form:after {
		border-right: 7px solid transparent; 
		border-bottom: 10px solid #fff; 
		border-left: 7px solid transparent; 
	}
	
	#custom-search-form #s {
		background-color: #fff; 
	}
	
	#custom-search-form #s:focus { border-color: #e1e1e1; }

/* ==========================================================================
   =Sticky Header
   ========================================================================== */

	@media (min-width: 1025px) {
		
		#header.stuck {	
			background-color: #2b2b2b;
		}
		
		#header.stuck .sf-menu > li > a,
		#header.stuck .sf-menu > li.dropdown > a { 
			color: #fff;
		}
		
		#header.stuck .sf-menu > li.current > a,
		#header.stuck .sf-menu li.sfHover > a,
		#header.stuck .sf-menu a:hover,
		#header.stuck .sf-menu li.sfHover a:hover { color: #ee6146; }	
	
		#header.stuck #custom-search-button { 
			background-image: url(../../images/bg-search-2.png);
		}
	
	}

/* ==========================================================================
   =Page Header
   ========================================================================== */
   	
	#page-header { 
		color: #fff;
	}
	
	#page-header h2 { 
		color: #fff;
		font-size:36px;
	}

/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
	 
   .fullwidth-section {
		background-color: #f8f8f8;	
	}
   
   	.fullwidth-section-overlay {
		background-image: url(../../images/pattern.png);	
	}
	
/* ==========================================================================
   =Footer Top
   ========================================================================== */

	#footer-top { 
		background-color: #ee6146;
		color: #fff;
	}
	
	#footer-top a,
	#footer-top h1,
	#footer-top h2,
	#footer-top h3,
	#footer-top h4,
	#footer-top h5,
	#footer-top h6 { color: #fff; }
	
	#footer-top .btn-white { border-color: #fff; }
   
/* ==========================================================================
   =Footer
   ========================================================================== */		
	
	#footer { 	
		background-color: #161616;
		color: #a9a9a9;
	}
	
	#footer a,
	#footer h1,
	#footer h2,
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6 { color: #a9a9a9; }
	
	#footer a:hover { color: #ee6146; }
	
/* ==========================================================================
   =Footer Bottom
   ========================================================================== */	
  
	#footer-bottom {	
		background-color: #dfbc5e;	
		color: #3b3b3b;
	}
	
	#footer-bottom a,
	#footer-bottom h1,
	#footer-bottom h2,
	#footer-bottom h3,
	#footer-bottom h4,
	#footer-bottom h5,
	#footer-bottom h6 { color: #3b3b3b; }
	
	#footer-bottom a:hover { color: #ee6146; }
	
/* ==========================================================================
   =Back to top
   ========================================================================== */

	#back-to-top {
		background-color: #3b3e43;
		color: #fafafa;
	}
	
	#back-to-top:hover { background-color: rgba(0, 0, 0, 0.7); }
	#back-to-top:hover i { color: #fff; }	

/* ==========================================================================
   =Misc
   ========================================================================== */
   
	.javascript-required,
	.modern-browser-required {
		background-color: #ff0030;
		color: #fff;
	}
	
/* ==========================================================================
   =Accordions and Toggles
   ========================================================================== */

/* =Accordion
   ========================================================================== */

	.accordion-item {
		border: 1px solid #e1e1e1;
		color: #3b3e43;
	}
	
	a.accordion-item { color: #3b3e43; }
	
	.accordion-item:hover,
	.accordion-item.active {
		border-color: #ee6146;
		background-color: #ee6146;
		color: #fff;
	}
	
	.accordion-item-content h5 {
		color: #ee6146;
	}
	
/* =Toggle
   ========================================================================== */

	.toggle-item {
		border: 1px solid #e1e1e1;
		color: #3b3e43;
	}
	
	a.toggle-item { color: #3b3e43; }
	
	.toggle-item:hover,
	.toggle-item.active {
		border-color: #ee6146;
		background-color: #ee6146;
		color: #fff;
	}
	
	.toggle-item-content h5 {
		color: #ee6146;
	}

/* ==========================================================================
   =Alerts
   ========================================================================== */

	.alert {
		border: 1px solid #e1e1e1;	
		background-color: #fff;
		color: #858585;
	}
	
	.alert.info {
		border: 1px solid #e1e1e1;
		background-color: #e1e1e1;
		color: #fff;
	}
	
	.alert.success {
		border: 1px solid #ee6146;
		background-color: #ee6146;
		color: #fff;
	}
	
	.alert.error {
		border: 1px solid #d50f25;
		background-color: #d50f25;
		color: #fff;
	}
	
	.alert.warning {
		border: 1px solid #dfbc5e;
		background-color: #dfbc5e;
		color: #fff;
	}

/* ==========================================================================
   =Boxes
   ========================================================================== */

	.box.box-style-1 {
		border: 1px solid #ee6146;
	}

	.box.box-style-2 { 
		background-color: #ee6146;
		color: #fff;
	}
	
	.box.box-style-2 h1,
	.box.box-style-2 h2,
	.box.box-style-2 h3,
	.box.box-style-2 h4,
	.box.box-style-2 h5,
	.box.box-style-2 h6 { color: #fff; }
	
/* ==========================================================================
   =Buttons
   ========================================================================== */

/* =Default Button
   ========================================================================== */
   
	.btn {
		background-color: #dfbc5e;
		color: #fff;	
	}
	
	.btn:after {
		border-top: 48px solid #ee6146; 
		border-left: 48px solid transparent; 
	}
	
	a.btn { color: #fff; }
	
	.btn-large:after {
		border-top: 58px solid #ee6146; 
		border-left: 58px solid transparent; 
	}

/* =Colored Buttons
   ========================================================================== */
	
	.btn-white {
		border: 2px solid #858585;
		background-color: transparent;
		color: #858585;
	}
	
	a.btn-white { color: #858585; }
	
	.btn-white:hover { 
		background: #858585;
		color: #fff;
	}
	
/* ==========================================================================
   =Clients logos
   ========================================================================== */
	
	.clients-logos li:hover { background-color: #ee6146; }
   
/* ==========================================================================
   =Contact form
   ========================================================================== */
	
	label.validation-error { color: #ff0030; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border: 1px solid #e1e1e1; }

/* ==========================================================================
   =Countdown
   ========================================================================== */
	
	.countdown-amount {
		border: 5px solid #3b3e43;
		color: #3b3e43;
	}
	
	.countdown-period {
		color: #3b3e43;
	}
	
/* ==========================================================================
   =Dividers
   ========================================================================== */
	
	.divider.single-line { border-top: 2px solid #e1e1e1; }
	
	.divider.double-line { border-top: 6px double #e1e1e1; }

/* ==========================================================================
   =Dropcaps
   ========================================================================== */
	
	.dropcap.dropcap-square {
		background-color: #ee6146;		
		color: #ffffff;
		
	}
	
	.dropcap.dropcap-circle {
		background-color: #ee6146;		
		color: #ffffff;
	}

/* ==========================================================================
   =Headlines
   ========================================================================== */
	
	.headline:after {
		border-top: 4px solid #ee6146;
	}
	
	.headline-2:after {
		border-top: 4px solid #ee6146;
	}
	
/* ==========================================================================
   =Icon Boxes
   ========================================================================== */

/* =Icon Box 1
   ========================================================================== */
	
	.icon-box-1 > span {
		border: 2px solid #ee6146;
	}
		
	.icon-box-1 > span i {
		color: #ee6146; 
	}
	
	.icon-box-1:hover > span i { color: #fff; }
	.icon-box-1:hover > span { background-color: #ee6146; }
	
/* =Icon Box 2
   ========================================================================== */
		
	.icon-box-2 > i {
		color: #ee6146; 
	}

/* =Icon Box 3
   ========================================================================== */
	
	.icon-box-3 > i { 	 
		color: #ee6146; 
	}
	
	.icon-box-3:hover > i { color: #dfbc5e }

/* =Icon Box 4
   ========================================================================== */
	
	.icon-box-4 > i { 	 
		color: #ee6146; 
	}
	
	.icon-box-4:hover > i { color: #dfbc5e }

/* ==========================================================================
   =Image Box
   ========================================================================== */
	 
	.image-box {
		box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.4);
	}
	
	.image-box-overlay {
		background-color: rgba(255, 255, 255, 0.7);
	}
	
	.image-box h4 a {
		background-color: #ee6146;
		color: #fff;
	}
	
	.image-box h4 a:hover {
		background-color: #dfbc5e;
	}
	
/* ==========================================================================
   =Info box
   ========================================================================== */
	
	.info-box {
		background-color: #f8f8f8;
	}
   
/* ==========================================================================
   =Milestones
   ========================================================================== */
	
	.milestone i {
		color: #dfbc5e;
	}
	
	.milestone .milestone-content {
		color: #3b3e43;
	}

/* ==========================================================================
   =Modal window
   ========================================================================== */	
   
	.white-popup {
		background: #fff;
	}
	
/* ==========================================================================
   =Our Process
   ========================================================================== */

/* =Horizontal process
   ========================================================================== */
	
	.horizontal-process-builder:before {
		border-top: 1px solid #dfbc5e;
	}
	
	.horizontal-process-builder li i,
	.horizontal-process-builder li h1 {
		border: 1px solid #dfbc5e;
		outline: 5px solid #fff;
		background-color: #fff;
		color: #3b3e43;
	}
	
	.horizontal-process-builder li:hover i,
	.horizontal-process-builder li:hover h1 {
		background-color: #dfbc5e;
		color: #fff;
	}
	
/* ==========================================================================
   =Pie charts
   ========================================================================== */
	 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		color: #3b3e43;
	}
	
	.pie-chart i {
		color: #3b3e43;
	}
	
	.pie-chart-title {
		color: #3b3e43;
	}
	
	.pie-chart-description {
		box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
		background-color: #fff;
		color: #3b3e43;
	}
	
	.pie-chart-description:before {
		border-left: 12px solid transparent; 
		border-right: 12px solid transparent; 
		border-bottom: 15px solid #e1e1e1;
	}
	
	.pie-chart-description:after {
		border-left: 8px solid transparent; 
		border-right: 12px solid transparent; 
		border-bottom: 15px solid #fff;
	}

/* ==========================================================================
   =Pricing Tables
   ========================================================================== */

	.pricing-table {
		border: 1px solid #f8f8f8;
		background-color: #f8f8f8;
	}
	
	.pricing-table:before {
		border-top: 120px solid #dfbc5e; 
		border-right: 100px solid transparent;
	}
	
	.pricing-table:hover { 
		background-color: #ee6146; 
		color: #fff;
	}
	
	.pricing-table:hover .pricing-table-header h1,
	.pricing-table:hover .pricing-table-header h3 { color: #fff; }
	
	@media (min-width: 768px) and (max-width: 991px) {
		
		.pricing-table:before { 
			border-top: 80px solid #dfbc5e; 
			border-right: 70px solid transparent;
		}
		
	}

/* ==========================================================================
   =Progress Bar
   ========================================================================== */

	.progress-bar-description {
		color: #3b3e43;	
	}
	
	.progress-percentage {
		color: #3b3e43;
	}
	
	.progress-bar {
		background-color: #e1e1e1;
	}
	
	.progress-bar .progress-bar-outer {
		background-color: #ee6146;
	}

/* ==========================================================================
   =Revolution Slider
   ========================================================================== */

/* =Rev Slider Pager
   ========================================================================== */
	   
	.tp-bullets.simplebullets.round .bullet {
		border: 2px solid #ee6146;
		background: transparent;
	}

	.tp-bullets.simplebullets.round .bullet.selected { background: #ee6146; }

/* =Rev Slider navigation
   ========================================================================== */

	.tp-leftarrow.default { background: url(../../images/left.png) no-repeat center center; }
	.tp-rightarrow.default { background: url(../../images/right.png) no-repeat center center; }
	
/* =Rev Slider typography
   ========================================================================== */
   	
	.caption.title {
		color: #fff;
	}
	
	.caption.title-2 {
		color: #3b3e43;
	}
	
	.caption.subtitle {
		color: #ee6146;
	}
	
	.caption.text {
		color: #fff;
	}
	
	.caption.text-2 {
		color: #3b3e43;
	}
	
	.caption .btn:hover { color: #fff; }
	
/* ==========================================================================
   =Social Media
   ========================================================================== */

	a.social-icon {
		color: #858585;
	}
	
	a.facebook-icon:hover { color: #0e59a0 !important; }
	a.twitter-icon:hover { color: #0ea4ff !important; }
	a.dribble-icon:hover { color: #ea73a0 !important; }
	a.pinterest-icon:hover { color: #d73532 !important; }
	a.googleplus-icon:hover { color: #282927 !important; }
	a.tumblr-icon:hover { color: #586980 !important; }
	a.instagram-icon:hover { color: #82685a !important; }
	a.rss-icon:hover { color: #f79638 !important; }
	a.linkedin-icon:hover { color: #018faf !important; }
	a.skype-icon:hover { color: #00b0f6 !important; }
	a.flickr-icon:hover { color: #0061db !important; }
	a.vimeo-icon:hover { color: #63879c !important; }
	a.github-icon:hover { color: #3b3b3b !important; }
	a.youtube-icon:hover { color: #cc181e !important; }
	a.windows-icon:hover { color: #6dc2e9 !important; }
	a.dropbox-icon:hover { color: #007ee5 !important; }
	a.xing-icon:hover { color: #026566 !important; }	
	a.adn-icon:hover { color: #1ea076 !important; }
	a.android-icon:hover { color: #98cb02 !important; }
	a.apple-icon:hover { color: #000000 !important; }
	a.behance-icon:hover { color: #2d9ad2 !important; }
	a.bitbucket-icon:hover { color: #214f81 !important; }
	a.bitcoin-icon:hover { color: #f7931b !important; }
	a.codepan-icon:hover { color: #000000 !important; }
	a.css3-icon:hover { color: #3289ce !important; }
	a.delicious-icon:hover { color: #3399fe !important; }
	a.deviantart-icon:hover { color: #c8da30 !important; }
	a.digg-icon:hover { color: #0080c2 !important; }
	a.drupal-icon:hover { color: #0077b9 !important; }
	a.empire-icon:hover { color: #000000 !important; }
	a.foursquare-icon:hover { color: #daecb0 !important; }
	a.git-icon:hover { color: #f34f29 !important; }
	a.gitti-icon:hover { color: #634c3e !important; }
	a.hacker-news-icon:hover { color: #f18642 !important; }
	a.html5-icon:hover { color: #e54c1f !important; }
	a.joomla-icon:hover { color: #016fb9 !important; }
	a.jsfiddle-icon:hover { color: #4679a4 !important; }
	a.linux-icon:hover { color: #fece0e !important; }
	a.maxcdn-icon:hover { color: #f36f20 !important; }
	a.openid-icon:hover { color: #fe6101 !important; }
	a.pagelines-icon:hover { color: #3783e3 !important; }
	a.pied-piper-icon:hover { color: #0c7b48 !important; }
	a.qq-icon:hover { color: #23286c !important; }
	a.rebel-icon:hover { color: #000000 !important; }
	a.reddit-icon:hover { color: #cee3f8 !important; }
	a.renren-icon:hover { color: #0d81e4 !important; }
	a.share-icon:hover { color: #252525 !important; }
	a.slack-icon:hover { color: #453744 !important; }
	a.soundcloud-icon:hover { color: #fe4e00 !important; }
	a.spotify-icon:hover { color: #80bb41 !important; }
	a.stack-exchange-icon:hover { color: #265a93 !important; }
	a.stackoverflow-icon:hover { color: #fea501 !important; }
	a.steam-icon:hover { color: #191919 !important; }
	a.stumbleupon-icon:hover { color: #f04f23 !important; }
	a.tencent-weibo-icon:hover { color: #0063a7 !important; }
	a.trello-icon:hover { color: #226784 !important; }
	a.vine-icon:hover { color: #00b081 !important; }
	a.vk-icon:hover { color: #50769d !important; }
	a.wechat-icon:hover { color: #a4dc31 !important; }
	a.weibo-icon:hover { color: #d82828 !important; }
	a.wordpress-icon:hover { color: #454442 !important; }
	a.yahoo-icon:hover { color: #4b04a8 !important; }

/* ==========================================================================
   =Tabs
   ========================================================================== */

/* =Horizontal tabs
   ========================================================================== */

	.tabs-container .tabs-menu { 
		border-bottom: 1px solid #e1e1e1;
	}
	
	.tabs-container .tabs-menu li a { 
		border: 1px solid #e1e1e1;
		color: #858585;
	}
	
	.tabs-container .tabs-menu li:first-child a { border-left: 1px solid #e1e1e1; }
	
	.tabs-container .tabs-menu li a:hover,
	.tabs-container .tabs-menu li.active a {
		border-left: 1px solid #ee6146;
		border-bottom-color: #fff; 
		background-color: #ee6146;
		color: #fff; 
	}
	
	.tabs-container .tabs {
		border: 1px solid #e1e1e1; 
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu li a { 
			border: 1px solid #e1e1e1;
		}
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #e1e1e1; }
		
		.tabs-container .tabs-menu li.active a {  
			border-bottom-color: #e1e1e1;
			background-color: #ee6146;
			color: #fff; 
		}
	  
	}
	
/* ==========================================================================
   =Testimonials
   ========================================================================== */
	
	.testimonial:before {
		border: 2px solid #ee6146;
		color: #ee6146;
	}
	
	.testimonial.alt blockquote {
		color: #3b3e43;
	}
	
	.testimonial.alt blockquote:before {
		color: #ee6146;
	}
	
	.testimonial h5 span {
		color: #dfbc5e;
	}
	
/* ==========================================================================
   =Team Member
   ========================================================================== */
	
	.team-member .team-member-description:after {
		background-color: #dfbc5e;
	}
	
	.team-member .team-member-description:before {
		border-top: 12px solid transparent; 
		border-right: 20px solid #dfbc5e; 
		border-bottom: 12px solid transparent;
	}
	
	.team-member:hover .team-member-description,
	.team-member:hover .team-member-description h3,
	.team-member:hover .team-member-description h5, 
	.team-member:hover .team-member-description .social-media a.social-icon { color: #fff; }
	
	.team-member.alt .team-member-description:before { 
		border-left: 20px solid #dfbc5e; 
	}
	
	@media (min-width: 768px) and (max-width: 991px) {		
		
		.team-member .team-member-description:before {
			border-right: 12px solid transparent; 
			border-bottom: 20px solid #dfbc5e;
		}
		
		.team-member.alt .team-member-description:before {
			border-top: 20px solid #dfbc5e;
			border-right: 12px solid transparent;
			border-bottom: none;
			border-left: 12px solid transparent;
		}
		
	}
	
	@media (max-width: 767px) {		
		
		.team-member .team-member-description:before {
			border-right: 12px solid transparent; 
			border-bottom: 20px solid #dfbc5e;
			border-left: 12px solid transparent;
		}
		
		.team-member.alt .team-member-description:before {
			border-top: 20px solid #dfbc5e;
			border-right: 12px solid transparent;
			border-bottom: none;
			border-left: 12px solid transparent;
		}
		
	}
	
/* ==========================================================================
   =Portfolio Item
   ========================================================================== */
	
	.portfolio-item-overlay {
		background-color: rgba(0, 0, 0, 0.7);
	}
	
	.portfolio-item-overlay:after {
		background-color: #ee6146;
	}
	
	.portfolio-item-overlay-actions a {
		color: #fff;
	}
	
	.portfolio-item-overlay-actions a:hover {
		color: #ee6146;
	}
	
	.portfolio-item-description h3 a { color: #3b3e43; }
	
	.portfolio-item-overlay .portfolio-item-description {
		color: #ee6146;
	}
	
	.portfolio-item-overlay .portfolio-item-description h3 a { color: #fff; }
	
	.portfolio-item-description h3 a:hover { 
		color: #ee6146;
	}
	
/* ==========================================================================
   =Portfolio Filter
   ========================================================================== */
	
	.portfolio-filter ul li a {
		border: 2px solid #e1e1e1;
		color: #3b3e43;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active {
		border-color: #dfbc5e;
		background-color: #dfbc5e; 
		color: #fff;
	}

/* ==========================================================================
   =Portfolio Pagination
   ========================================================================== */

	.portfolio-pagination .page-numbers {
		border: 2px solid #e1e1e1;
	}

	.portfolio-pagination .page-numbers:hover,
	.portfolio-pagination .page-numbers.current {
		border-color: #ee6146;
		background-color: #ee6146;
		color: #fff;
	}
	
	.portfolio-pagination .page-numbers.dots:hover {
		background-color: transparent;
		color: #00c5e9;
	}
	
/* ==========================================================================
   =Bx Slider
   ========================================================================== */
   
/* =Bx Slider theme
   ========================================================================== */   
   
   .bx-wrapper {			
		background: none;
	}

/* =Bx Slider Pager
   ========================================================================== */
   	
	.bx-wrapper .bx-pager.bx-default-pager a {
		border: 2px solid #ee6146;
		background: transparent;
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus {
		background: #ee6146;
	} 
	
/* =Bx Slider Dir Nav
   ========================================================================== */ 
   
	.bx-wrapper .bx-prev {
		background: #3b3e43 url(../../images/left.png) no-repeat center center;
	}

	.bx-wrapper .bx-next {
		background: #3b3e43 url(../../images/right.png) no-repeat center center;
	}
	
/* ==========================================================================
   =Fullwidth Section
   ========================================================================== */
   	
	.fullwidth-section.custom-color-selected {
		background-color: #3b3e43;
		color: #fff;
	}
	
	.fullwidth-section.custom-color-selected a,
	.fullwidth-section.custom-color-selected h1,
	.fullwidth-section.custom-color-selected h2,
	.fullwidth-section.custom-color-selected h3,
	.fullwidth-section.custom-color-selected h4,
	.fullwidth-section.custom-color-selected h5,
	.fullwidth-section.custom-color-selected h6, 
	.fullwidth-section.custom-color-selected .milestone .milestone-content, 
	.fullwidth-section.custom-color-selected .pie-chart .pie-chart-custom-text, 
	.fullwidth-section.custom-color-selected .pie-chart .pie-chart-percent,
	.fullwidth-section.custom-color-selected .pie-chart i,
	.fullwidth-section.custom-color-selected .pie-chart-title, 
	.fullwidth-section.custom-color-selected .progress-percentage,
	.fullwidth-section.custom-color-selected .progress-bar-description, 
	.fullwidth-section.custom-color-selected .tabs-container .tabs-menu li a, 
	.fullwidth-section.custom-color-selected .ewf_widget_latest_posts ul li .title, 
	.fullwidth-section.custom-color-selected .testimonial.alt blockquote { color: inherit; }
	
	.fullwidth-section.custom-color-selected .btn-white { border-color: inherit; }
	
	.fullwidth-section.custom-color-selected .pie-chart-description:before { border-bottom: none; }
	
	.fullwidth-section .horizontal-process-builder li i,
	.fullwidth-section .horizontal-process-builder li h1 {
		color: #3b3e43;
		outline: none;
	}
	
	.fullwidth-section .horizontal-process-builder li:hover i,
	.fullwidth-section .horizontal-process-builder li:hover h1 { color: #fff; }
	
	.fullwidth-section.custom-color-selected .pricing-table { background-color: transparent; }
	.fullwidth-section.custom-color-selected .pricing-table:hover { background-color: #ee6146; }
	
	
	#bg-1 {
		background-image: url(../../../content/backgrounds/1920x1080-1.jpg);
	}
	
	#bg-2 {
		border-top: 10px solid #ee6146;
		background-image: url(../../../content/backgrounds/1920x800-1.jpg); 
	}
	
	#bg-3 {
		background-image: url(assets/920x1080-2.jpg);
	}
	
	#bg-5 {
		background-image: url(../../../content/backgrounds/1920x800-2.jpg);
	}
	
	#bg-6 {
		background-image: url(../../../content/backgrounds/2500x700.jpg);
	}
	
	#bg-7 {
		background-color: #ee6146;
	}
	
	#bg-9 {
		background-color: #fff;
	}
	
	#bg-9:before {
		border-top: 600px solid #ee6146; 
		border-left: 1920px solid transparent; 
	}
	
	#bg-10 {
		background-image: url(../../../content/backgrounds/1920x800-3.jpg);
	}
	
	#bg-11 {
		background-image: url(../../../content/backgrounds/1920x1080-3.jpg);
	}
	
	#bg-12 {
		background-image: url(../../../content/backgrounds/1920x800-4.jpg);
	}
	
	#bg-14 {
		background-image: url(../../../content/backgrounds/1920x1080-4.jpg);
	}
	
	#bg-15 {
		background: url(../../../content/backgrounds/1920x800.png) no-repeat center bottom;
	}
	
	#bg-16 {
		background: #fff url(../../../content/backgrounds/1920x1700.jpg) no-repeat center top;
	}
	
	#bg-17 {
		background-color: #2b2b2b;
	}
	
	#bg-18 {
		background-image: url(../../../content/portfolio/1920x1080-1.jpg);
	}
	
	#bg-19 {
		background-image: url(../../../content/portfolio/1920x1080-2.jpg);
	}
	
	#bg-20 {
		background-image: url(../../../content/portfolio/1920x1080-3.jpg);
	}
	
	#bg-21 {
		background-image: url(../../../content/portfolio/1920x1080-4.jpg);
	}
	
	#bg-22 {
		background-color: #fff;
		box-shadow: inset 0px -40px 40px 0px rgba(0, 0, 0, 0.05);
	}
	
/* ==========================================================================
   =WordPress Default Classes
   ========================================================================== */

	/* Caption */

	.caption-text,
	.wp-caption-text {
		color: #bbbbbb;
	}

	/* Gallery */

	.gallery-caption {
		color: #bbbbbb;
	}

/* ==========================================================================
   =WordPress Post(s) 
   ========================================================================== */
   
	.sticky {
		border: 1px solid #e1e1e1; 
	}
	
	.sticky-post {
		background-color: #dfbc5e;
		color: #fff;
	}

	.posted-on,
	.byline,
	.cat-links,
	.tags-links,
	.comments-link,
	.post-format,
	.full-size-link { 
		color: #dfbc5e;
	}
	
	.has-post-thumbnail .comments-link {
		color: #fff;
	}
	
	.has-post-thumbnail .comments-link:before {
		border-right: 100px solid transparent;
		border-bottom: 85px solid #ee6146; 
	}
	
	.has-post-thumbnail .comments-link:after {
		border-right: 90px solid transparent;
		border-bottom: 75px solid #dfbc5e; 
	}
	
	.has-post-thumbnail .comments-link a { 
		color: #fff;
	}
	
/* ==========================================================================
   =WordPress pagination and navigation
   ========================================================================== */

	.pagination .page-numbers {
		border: 2px solid #e1e1e1;
	}

	.pagination .page-numbers:hover,
	.pagination .page-numbers.current {
		border-color: #ee6146;
		background-color: #ee6146;
		color: #fff;
	}
	
	.pagination .page-numbers.dots:hover {
		background-color: transparent;
		color: #00c5e9;
	}

/* ==========================================================================
   =WordPress Comments
   ========================================================================== */

	.comment-list .pingback,
	.comment-list .trackback {
		border-bottom: 1px solid #e1e1e1;
	}
	
	.comment-author a {
		color: #3b3e43;
	}

/* ==========================================================================
   =WordPress Comments Navigation
   ========================================================================== */


	.comment-navigation {
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
	}
	
/* ==========================================================================
   =WordPress Comment Form
   ========================================================================== */	

	.no-comments {
		border-top: 1px solid #e1e1e1;
	}

	.required { color: #ff0030; }

/* ==========================================================================
   =WordPress Widgets
   ========================================================================== */
	
/* =Widgets default
   ========================================================================== */
	
	#footer .widget-title {
		color: #ee6146;
	}
	
/* =Search Widget
   ========================================================================== */
	
	#searchsubmit {
		background: #dfbc5e url(../../images/bg-search-2.png) no-repeat center center;
	}
	
	#searchsubmit:hover { background-color: #ee6146; }
	
/* =Pages Widget
   ========================================================================== */
	
	.widget_pages a { color: #3b3e43; }
	
	.widget_pages a:hover, 
	.widget_pages li.current_page_item a { 
		color: #dfbc5e;
	}
	
	#footer-bottom .widget_pages a:hover, 
	#footer-bottom .widget_pages li.current_page_item a { color: #ee6146; }
	
/* =Archive Widget
   ========================================================================== */
	
	.widget_archive a { color: #3b3e43; }
	
	.widget_archive a:hover { 
		color: #dfbc5e;
	}
	
/* =Categories Widget
   ========================================================================== */
	
	.widget_categories a { color: #3b3e43; }
	
	.widget_categories a:hover { 
		color: #dfbc5e;
	}
	
/* =Meta Widget
   ========================================================================== */
	
	.widget_meta a { color: #3b3e43; }
	
	.widget_meta a:hover { 
		color: #dfbc5e;
	}
	
/* =Tag Cloud Widget
   ========================================================================== */
	
	.widget_tag_cloud a {
		background-color: #2a2a2a;
		color: #fff;
	}
	
	.widget_tag_cloud a:hover { 
		background-color: #ee6146;
		color: #fff;
	}
	
	#header-top .widget_tag_cloud a { 
		background-color: #dfbc5e;
		color: #fff;
	}
	
	#header-top .widget_tag_cloud a:hover { background-color: #ee6146; }
	
	#footer .widget_tag_cloud a:hover, 
	#footer-bottom .widget_tag_cloud a:hover { color: #161616; }
	
/* =Calendar Widget
   ========================================================================== */
	
	#wp-calendar tbody a {
		background-color: #dfbc5e;
		color: #fff;
	}
	
/* =Nav Menu Widget
   ========================================================================== */
	
	.widget_nav_menu a { color: #3b3e43; }
	
	.widget_nav_menu a:hover { 
		color: #dfbc5e;
	}
	
/* ==========================================================================
   =WordPress Custom Widgets
   ========================================================================== */
	
/* =EWF Flickr widget
   ========================================================================== */
	
/* =EWF Contact Info widget
   ========================================================================== */	
	
	.ewf_widget_contact_info ul li i {
		color: #ee6146;
	}	
	
	.ewf_widget_contact_info ul li a { color: #858585; }

/* =EWF Latest posts widget
   ========================================================================== */
	
	.ewf_widget_latest_posts ul li .title {
		color: #3b3e43;
	}	
	
	.ewf_widget_latest_posts ul li .title:hover {
		color: #dfbc5e;
	}
	
	#footer .ewf_widget_latest_posts ul li .title { 
		color: #ee6146;
	}
	
	#footer .ewf_widget_latest_posts ul li .title:hover { color: #a9a9a9; }
	
/* =EWF Navigation widget
   ========================================================================== */
	
	.ewf_widget_navigation li { border-bottom: 1px solid #e1e1e1; }