/* Switcher */

.switcher {
	position: fixed;
	z-index: 1030;
	top: 197px;
	width: 210px;
	background: #fff;
}

.switcher h3 {
	padding: 0 25px;
	background: #333333;
	color: #fff;
	text-transform: uppercase;
}

.switcher h5 {
	padding: 5px 20px;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin: 20px -20px;
	font-size: 12px;
	text-transform: uppercase;
}

.switcher h5:first-child {
	border-top: none;
	margin-top: 0;  
}

.switcher h3 a {
	position: absolute;
	top: 0;
	right: -53px;
	display: block;
	padding: 10px 15px;
	border-radius: 0 3px 3px 0;
	background-color: #333;
	color: #fff;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
}

.switcher h3 a:hover { text-decoration: none; }

.switcher .content {
	padding: 0 20px 20px 20px;
	border: 1px solid #efefef;
}

.layout-switcher a.layout {
	float: left;
	display: block;
	width: 50px;
	padding: 7px;
	border: 1px solid #eaeaea;
	border-bottom-width: 2px;
	margin: 0;
	margin-right: 5px;
	background: #fff;
	color: #797878;
	text-align: center;
	cursor: pointer;
}

.layout-switcher a.layout:hover {
	background-color: #f9f9f9;
	text-decoration: none;
}

.layout-switcher { overflow: hidden; }

.switcher-box, .bg.hidden {
	overflow: hidden;
	margin: 0 -2px 0 -2px;
}

.pattern {
	float: left;
	display: block;
	width: 24px;
	height: 26px;
	-webkit-box-shadow: inset 0 0 0 1px #eaeaea;
			box-shadow: inset 0 0 0 1px #eaeaea;
	margin: 0 2px 4px 2px;
	cursor: pointer;	
}

.styleswitch {
	float: left;
	display: block;
	width: 24px;
	height: 26px;
	margin: 0 4px 4px 0;
	cursor: pointer;	
}

/* Switcher Patterns */

#bg.pattern { background: url(../../images/bg-body.png) top left no-repeat; }
#bg2.pattern { background: url(../../images/bg-body2.png) top left no-repeat; }
#bg3.pattern { background: url(../../images/bg-body3.png) top left no-repeat; }
#bg4.pattern { background: url(../../images/bg-body4.png) top left no-repeat; }
#bg5.pattern { background: url(../../images/bg-body5.png) top left no-repeat; }
#bg6.pattern { background: url(../../images/bg-body6.png) top left no-repeat; }
#bg7.pattern { background: url(../../images/bg-body7.png) top left no-repeat; }
#bg8.pattern { background: url(../../images/bg-body8.png) top left no-repeat; }
#bg9.pattern { background: url(../../images/bg-body9.png) top left no-repeat; }
#bg10.pattern { background: url(../../images/bg-body10.png) top left no-repeat; }
#bg11.pattern { background: url(../../images/bg-body11.png) top left no-repeat; }
#bg12.pattern { background: url(../../images/bg-body12.png) top left no-repeat; }
#bg13.pattern { background: url(../../images/bg-body13.png) top left no-repeat; }
#bg14.pattern { background: url(../../images/bg-body14.png) top left no-repeat; }
#bg15.pattern { background: url(../../images/bg-body15.png) top left no-repeat; }
#bg16.pattern { background: url(../../images/bg-body16.png) top left no-repeat; }
#bg17.pattern { background: url(../../images/bg-body17.png) top left no-repeat; }
#bg18.pattern { background: url(../../images/bg-body18.png) top left no-repeat; }
#bg19.pattern { background: url(../../images/bg-body19.png) top left no-repeat; }
#bg20.pattern { background: url(../../images/bg-body20.png) top left no-repeat; }

#bg21.pattern { background: url(../../images/bg-body21-thumb.png) top left no-repeat; }
#bg22.pattern { background: url(../../images/bg-body22-thumb.png) top left no-repeat; }
#bg23.pattern { background: url(../../images/bg-body23-thumb.png) top left no-repeat; }

.bg  { background: url(../../images/bg-body.png) repeat top left; }
.bg2  { background: url(../../images/bg-body2.png) repeat top left; }
.bg3  { background: url(../../images/bg-body3.png) repeat top left; }
.bg4  { background: url(../../images/bg-body4.png) repeat top left; }
.bg5  { background: url(../../images/bg-body5.png) repeat top left; }
.bg6  { background: url(../../images/bg-body6.png) repeat top left; }
.bg7  { background: url(../../images/bg-body7.png) repeat top left; }
.bg8  { background: url(../../images/bg-body8.png) repeat top left; }
.bg9  { background: url(../../images/bg-body9.png) repeat top left; }
.bg10  { background: url(../../images/bg-body10.png) repeat top left; }
.bg11  { background: url(../../images/bg-body11.png) repeat top left; }
.bg12  { background: url(../../images/bg-body12.png) repeat top left; }
.bg13  { background: url(../../images/bg-body13.png) repeat top left; }
.bg14  { background: url(../../images/bg-body14.png) repeat top left; }
.bg15  { background: url(../../images/bg-body15.png) repeat top left; }
.bg16  { background: url(../../images/bg-body16.png) repeat top left; }
.bg17  { background: url(../../images/bg-body17.png) repeat top left; }
.bg18  { background: url(../../images/bg-body18.png) repeat top left; }
.bg19  { background: url(../../images/bg-body19.png) repeat top left; }
.bg20  { background: url(../../images/bg-body20.png) repeat top left; }

.bg21  { background: url(../../images/bg-body21.jpg) no-repeat fixed top left; }
.bg22  { background: url(../../images/bg-body22.jpg) no-repeat fixed top left; }
.bg23  { background: url(../../images/bg-body23.jpg) no-repeat fixed top left; }

#default.styleswitch { background-color: #93c274; }
#orange.styleswitch { background-color: #f9b549; }
#blue.styleswitch { background-color: #49bdf9; }
#beige.styleswitch { background-color: #8d7a5d; }


@media (max-width: 1025px) {
	
	.switcher { display: none; }
	
}